In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

Problema pensado: Descrever o perfil dos brasileiros economicamente ativos e fazer uma análise de como este perfil mudou desde o ano de 2011 até 2015

In [4]:
dados2011 = pd.read_csv("PES2011.csv")  
dados2015 =pd.read_csv("PES2015.csv")

In [6]:
dados2015.head()

,Unnamed: 0,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,...,V4741,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993
0,0,2015,11,15,1,1,2,27,2,1992,...,1.0,800.0,4.0,5,1.0,2.0,2.0,1.0,800.0,20161117
1,1,2015,11,15,3,1,4,4,5,1992,...,1.0,1150.0,4.0,5,1.0,2.0,2.0,1.0,1150.0,20161117
2,2,2015,11,15,4,1,4,4,1,1980,...,6.0,793.0,4.0,6,1.0,2.0,2.0,1.0,793.0,20161117
3,3,2015,11,15,4,2,2,5,6,1981,...,6.0,793.0,4.0,7,1.0,2.0,2.0,1.0,793.0,20161117
4,4,2015,11,15,4,3,4,8,4,2004,...,6.0,793.0,4.0,2,2.0,NaN,NaN,2.0,793.0,20161117

Variáveis uteis: V0302 --> Sexo
V8005 --> Idade do morador
v0101 -- Ano de referencia.
UF --> Unidade federativa
v0401 --> Condição na unidade domiciliar --> 
v0404 --> Cor ouraça

In [34]:
dados2011.loc[:, ["V0101","UF","V0302","V8005","V0402","V0404","V4111","V4114","V0501","V0601","V0602","V6002","V6003","V0611","V0708","V7121","V7122","V0713","V9008","V9010","V9043","V9044","V9001","V9126"]].head()
# Todos os itens de V9001 á V9126 são importantes.

C:\Users\ricar\anaconda4\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,V0101,UF,V0302,V8005,V0402,V0404,V4111,V4114,V0501,V0601,...,V0708,V7121,V7122,V0713,V9008,V9010,V9043,V9044,V9001,V9126
0,2011,11,2,49,1,2,1.0,NaN,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0
1,2011,11,4,33,2,8,1.0,NaN,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0
2,2011,11,4,15,3,8,5.0,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
3,2011,11,2,9,3,2,NaN,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,11,4,51,1,4,1.0,NaN,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,1.0,2.0